<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcsoft.arcfacedemo">


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FaceAttrPreviewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChooseFunctionActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SingleImageActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.MultiImageActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.IrRegisterAndRecognizeActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.RegisterAndRecognizeActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.FaceManageActivity"
            android:launchMode="singleTop" />


    </application>

</manifest>